<div navegacion-Principal></div>
<div menu-Lateral></div>
<section NombreTarea="dashboard">
    <div class="heading text-center">
        <h1>Registro de hoteles</h1>
</div>  
<hr>
  <div NombreTarea="viewonly" class="container-fluNombreTarea wrapper">
    <div class="formregistro-page">
      <div class="form">
        <form ng-submit="vm.registrarTarea(vm.nuevaTarea)" name="formRegistroTarea" novalNombreTareaate autocomplete="on" class="row">

          <div class="col-md-6">
            <label for="TareaNombreTarea">NombreTarea Tarea</label>
            <input ng-model="vm.nuevaTarea.NombreTarea" NombreTarea="TareaNombreTarea" class="form-control" maxlength="5" minlength="1" type="text" required>
            <small class="form-text text-muted">Este campo es requerNombreTareao</small>

            <label for="txtNombre">Nombre del hotel</label>
            <input type="text" NombreTarea="txtNombre" class="form-control" name="txtNombre" ng-model="vm.nuevaTarea.nombre" required>
            <small class="form-text text-muted">Este campo es requerNombreTareao</small>

            <label for="sltProvincia">Provincia</label>
            <input list="sltProvincia" class="form-control" name="sltProvincia" ng-change="vm.rellenarCantones(vm.nuevaTarea.provincia)"
              ng-model="vm.nuevaTarea.provincia" required>
            <datalist NombreTarea="sltProvincia">
              <option ng-repeat="provincia in vm.provincias" value="{{provincia.name}}">
            </datalist>
            <small class="form-text text-muted">Este campo es requerNombreTareao</small>
          </div>
          
          <div class="col-md-6">


            <label for="sltCanton">Cantón</label>
            <input list="sltCanton" class="form-control" name="sltCanton" ng-change="vm.rellenarDistrito(vm.nuevaTarea.canton)" ng-model="vm.nuevaTarea.canton"
              required>
            <datalist NombreTarea="sltCanton">
              <option ng-repeat="canton in vm.cantones" value="{{canton.name}}">
            </datalist>
            <small class="form-text text-muted">Este campo es requerNombreTareao</small>

            <label for="sltDistrito">Distrito</label>
            <input list="sltDistrito" class="form-control" name="sltDistrito" ng-model="vm.nuevaTarea.distrito" required>
            <datalist NombreTarea="sltDistrito">
              <option ng-repeat="distrito in vm.distritos" value="{{distrito.name}}">
            </datalist>
            <small class="form-text text-muted">Este campo es requerNombreTareao</small>

            <label for="nTelefono">Numero de Telefono para reservación</label>
            <input type="tel" NombreTarea="nTelefono" class="form-control" name="nTelefono" ng-model="vm.nuevaTarea.telefono" maxlength="11"
              minlength="8" required>
            <small class="form-text text-muted">Este campo es requerNombreTareao</small>

        

          </div>
          <div class="col-md-6">
            <label for="txtHorario">Mensaje para reservación</label>
            <textarea type="text" NombreTarea="txtHorario" class="form-control" name="txtHorario" ng-model="vm.nuevaTarea.horario" style="height:100px"
              required></textarea>
            <small class="form-text text-muted">Este campo es requerNombreTareao</small>

            <button type="submit" class="btn btn-success">Registrar Tarea</button>
          </div>
          <div class="col-md-3">
            <label for="latitud">Latitud en Mapa</label>
            <input type="text" NombreTarea="latitud" class="form-control" name="latitud" ng-model="vm.nuevaTarea.latitud" required>
          </div>
          <div class="col-md-3">
            <label for="longitud">Longitud en Mapa</label>
            <input type="text" NombreTarea="longitud" class="form-control" name="longitud" ng-model="vm.nuevaTarea.longitud" required>
          </div>
        </form>
</section>